spec/schema/rpml-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:rp="https://rpml.dev/schema/1.0"
  targetNamespace="https://rpml.dev/schema/1.0"
  elementFormDefault="qualified">

  <!-- ============================================================
       Root
  ============================================================ -->
  <xs:element name="rp-page" type="rp:RpPage"/>

  <xs:complexType name="RpPage">
    <xs:sequence>
      <xs:element name="rp-main-view" type="rp:RpMainView" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rp-annotation" type="rp:RpAnnotationTop" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="title"       type="xs:string" use="required"/>
    <xs:attribute name="route"       type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>

  <!-- ============================================================
       Main view
  ============================================================ -->
  <xs:complexType name="RpMainView">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="device" type="rp:DeviceEnum"/>
    <xs:attribute name="scale"  type="xs:decimal"/>
    <xs:attribute name="width"  type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:anyAttribute namespace="##any" processContents="lax"/>
  </xs:complexType>

  <!-- ============================================================
       Annotations
  ============================================================ -->

  <!-- Top-level annotation: id required to match data-pin -->
  <xs:complexType name="RpAnnotationTop" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="rp-annotation" type="rp:RpAnnotationNested"/>
        <xs:element name="rp-enum"       type="rp:RpEnum"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id"    type="xs:positiveInteger" use="required"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <!-- Nested annotation: no id -->
  <xs:complexType name="RpAnnotationNested" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="rp-annotation" type="rp:RpAnnotationNested"/>
        <xs:element name="rp-enum"       type="rp:RpEnum"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <!-- ============================================================
       Enum
  ============================================================ -->
  <xs:complexType name="RpEnum">
    <xs:sequence>
      <xs:element name="rp-enum-item" type="rp:RpEnumItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RpEnumItem" mixed="true">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="label"       type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>

  <!-- ============================================================
       Shared types
  ============================================================ -->
  <xs:simpleType name="DeviceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="web"/>
      <xs:enumeration value="ipad"/>
      <xs:enumeration value="mobile"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
